@font-face {
  font-family: 'distant-galaxy';
  src: url('../assets/Distant-Galaxy/DISTGRG_.ttf');
}

/*   MODAL  */

.modal-content {
  background-color: black;
}

.modal-content h3, .inner h1 {
  font-family: 'distant-galaxy';
}

.modal-content input, select, textarea {
  color: black;
}

.modal-main {
  margin-top: 150px;
}

/* NAV */
.nav>li>a {
    display: inline;
}

/* GAME */
#gameDiv {
  position: absolute;
  width: 760px;
  padding: 0 220px;
  /*left: 0;
  right: 0;*/
  /*margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;*/
}

#game-container {
  position: relative;
  width: 1200px;
  margin: auto;
}

#vader {
  float: left;
}
#obiwan {
  float: right;
}



/* CONTENT */
.inner .cover {
  padding: 0;
}
.cover-container {
  width: 800px;
}

@media (min-width: 768px) {
  .masthead {
    position: relative
  }
}


/* HIGH SCORES */
#highScores {
  width: 40%;
  margin: auto;
}
#highScores th, td {
  width: 50px;
  text-align: center;
}
